
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3>Write Your PassWord</h3>
            <p>Fill in the data below.</p>
            <form class="requires-validation" novalidate>
              <div class="col-md-12">
                <label for="newPassword" class="form-label" >new password</label>
                <input
                  type="text"
                  class="form-control"
                  id="newPassword"
                  [(ngModel)]="newpassword"
                  #newpasswordFeild="ngModel"
                  name="newPassword"
                  required
                  />
                  <small
                    *ngIf="(newpassword == null) && newpasswordFeild.touched"
                    class="text-danger"
                    >new passwrd is required
                  </small>
              </div>
              <div class="col-md-12">
                <label for="newPassword" class="form-label" >confirm password</label>
                <input
                  type="text"
                  class="form-control"
                  id="newPassword"
                  [(ngModel)]="confirmPassword"
                  #confirmPasswordFeild="ngModel"
                  name="confirmPassword"
                  (ngModelChange)="checksamepassword()"
                  required
                  />
                  <small
                    *ngIf="(confirmPassword == null) && confirmPasswordFeild.touched"
                    class="text-danger"
                    >confirmpassword is required
                  </small>
                  <small
                  *ngIf="checksamepassword() == false"
                  class="text-danger"
                  >not same password
                </small>
              </div>
                <div class="form-button mt-3">
                  <button [disabled]="checksamepasswordforbutton() == false" (click)="sendResetPassword()" type="button" class="btn btn-primary" >
                    Submit
                  </button>
                </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
